@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
min-height:100vh;

```
background:linear-gradient(
    135deg,
    #2B2D42,
    #353857
);

display:flex;
justify-content:center;
align-items:center;

padding:30px;
```

}

.chat-card{
width:100%;
max-width:750px;

```
background:#F8F8F8;

border-radius:28px;

padding:30px;

box-shadow:
0 20px 60px rgba(0,0,0,0.30);
```

}

.chat-header{
text-align:center;
margin-bottom:25px;
}

.chat-header h1{
font-size:48px;
font-weight:800;
color:#F4EBD0;
letter-spacing:1px;
}

.chat-header p{
color:#D4A373;
font-size:17px;
margin-top:6px;
}

.chat-box{
height:500px;
overflow-y:auto;

```
background:white;

border-radius:22px;

padding:20px;

margin-bottom:20px;

border:2px solid #EAEAEA;

display:flex;
flex-direction:column;
gap:15px;
```

}

.user-message{
align-self:flex-end;

```
background:#D4A373;

color:#2B2D42;

padding:14px 18px;

border-radius:18px;

max-width:75%;

font-weight:500;
```

}

.bot-message{
align-self:flex-start;

```
background:#592720;

color:white;

padding:14px 18px;

border-radius:18px;

max-width:75%;

line-height:1.6;
```

}

.input-area{
display:flex;
gap:12px;
}

.input-area input{
flex:1;

```
padding:16px;

border:none;

background:#ECECEC;

border-radius:16px;

font-size:16px;

outline:none;
```

}

.input-area input:focus

.send-btn{
background:#592720;

```
color:#FFFFFF;

border:none;

padding:16px 30px;

border-radius:16px;

cursor:pointer;

font-weight:700;

font-size:16px;

min-width:120px;

transition:0.3s ease;
```

}

.send-btn:hover

ul{
margin-top:10px;
margin-left:20px;
}

li{
margin-bottom:6px;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#8D99AE;
border-radius:20px;
}

@media(max-width:768px){

```
.chat-card{
    padding:20px;
}

.chat-header h1{
    font-size:38px;
}

.chat-box{
    height:420px;
}

.input-area{
    flex-direction:column;
}

.send-btn{
    width:100%;
}
```

}
