@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
min-height:100vh;

```
background:linear-gradient(
    135deg,
    #2B2D42,
    #343855
);

display:flex;
justify-content:center;
align-items:center;

padding:30px;
```

}

/* Main Card */

.chat-card{
width:100%;
max-width:800px;

```
background:#F8F8F8;

border-radius:30px;

padding:30px;

box-shadow:
0 25px 60px rgba(0,0,0,0.35);
```

}

/* Header */

.chat-header{
text-align:center;
margin-bottom:25px;
}

.chat-header h1{
font-size:52px;
font-weight:800;
color:#F4EBD0;
letter-spacing:1px;
}

.chat-header p{
color:#D4A373;
font-size:18px;
font-weight:500;
}

/* Chat Box */

.chat-box{
height:500px;

```
overflow-y:auto;

background:#FFFFFF;

border-radius:24px;

padding:20px;

border:2px solid #EAEAEA;

margin-bottom:20px;

display:flex;
flex-direction:column;
gap:15px;
```

}

/* User Message */

.user-message{
align-self:flex-end;

```
background:#D4A373;

color:#2B2D42;

padding:14px 18px;

border-radius:18px;

max-width:75%;

line-height:1.6;

font-weight:500;
```

}

/* Bot Message */

.bot-message{
align-self:flex-start;

```
background:#592720;

color:#FFFFFF;

padding:14px 18px;

border-radius:18px;

max-width:75%;

line-height:1.6;
```

}

/* Welcome Message */

.welcome-box{
background:#592720;

```
color:white;

padding:22px;

border-radius:22px;

line-height:1.8;
```

}

.welcome-box ul{
margin-left:20px;
margin-top:10px;
}

/* Input Area */

.input-area{
display:flex;
gap:12px;
}

/* Input */

.input-area input{

```
flex:1;

padding:16px;

border:2px solid #D4A373;

border-radius:16px;

background:#FFFFFF;

font-size:16px;

outline:none;

color:#2B2D42;
```

}

.input-area input:focus{

```
border-color:#592720;
```

}

/* SEND BUTTON */

.send-btn{

```
background:#592720;

color:#F4EBD0;

border:none;

border-radius:16px;

padding:16px 30px;

min-width:130px;

cursor:pointer;

font-size:16px;

font-weight:700;

transition:all 0.3s ease;
```

}

.send-btn:hover{

```
background:#6F4E37;

transform:translateY(-2px);
```

}

.send-btn:active{

```
transform:translateY(0);
```

}

/* Scrollbar */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#8D99AE;
border-radius:20px;
}

/* Mobile */

@media(max-width:768px){

```
.chat-card{
    padding:20px;
}

.chat-header h1{
    font-size:40px;
}

.chat-box{
    height:420px;
}

.input-area{
    flex-direction:column;
}

.send-btn{
    width:100%;
}
```

}
